/* Medidas en píxeles (px) */
header {
    width: 960px;
    height: 150px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Medidas en centímetros (cm) */
.section1 {
    width: 20cm;
    height: 10cm;
    background-color: #f4f4f4;
    margin: 10px auto;
    padding: 1cm;
}

/* Medidas en pulgadas (in) */
.section2 {
    width: 7in;
    height: 4in;
    background-color: #ddd;
    margin: 10px auto;
    padding: 0.5in;
    border: 0.2in solid #333;
}
